* {
  box-sizing: border-box;
}

.chat-main {
  width:  calc(100vw - 300px);
  height: 100px;

  .chat-main-top{
     display: flex;
     margin-top: 35px;

  &__left-over{
    padding:0px 0px 0px 40px;
    font-size: 20px;
    color: #333333;
  }

  &__left-under{
      font-size: 12px;
      color: #999999;
      margin-top: 15px;
    }

  &__right{
    margin-left:auto;
    padding:0px 20px 0px 20px;
    margin-right: 40px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    right: 40px;
    border: solid 1px #38aef0;
      a {
        color: #38aef0;
        text-decoration: none;
        }
   
    }}

  .chat-main-middle{
    padding: 46px 40px;
    background-color: #fafafa;
    height: calc(100vh - 188px);
    overflow: scroll;
  }
   
  
  .message{}

  .upper-message{
     font-size: 16px;
     color: #333333;
     display: flex;
     }
     .upper-message__user-name{
       font-weight: bold;
     }
    
  
     .upper-message__date{
       font-size: 12px;
       color: #999999;
       margin-left: 10px;
      
     }

     .lower-message{

      p.lower-message__content{
        box-sizing: border-box;}
      
     }


  .chat-main-bottom{
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd; 
    // display: flex;
    form {
      display: flex;
    }
    
  } 
}

    .form__message{
      width: 100%;
      position: relative;
    }
    // .chat-main-bottom__form__mask{
  

     .form__mask__image {
        .icon {
          position: absolute;
          right: 180px;
          font-size: 1.4rem;
          padding-top: 10px;
       }

      .hidden {display: none;
      }



  

  

    }

    .form__submit{
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    cursor: pointer;
    border: #38aef0;
    }