.side-bar {
  width: 300px;
  color:  white;
  height: 100vh;
  background: #253141;

  .side-bartop{
    background: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding:0px 20px;

    .side-bartop__logo{
      display: flex;
      background: #253141;
      width: 100%;
      justify-content: space-between;

      .side-bartop__username{
        line-height: 20px;
        font-size: 16px;
        color: #ffffff;
      }

      .side-bartop__menu{
        display: flex;

        .side-bartop__menu__create{
          padding:0px 5px 0px 0px;
          a {
            color: white;
          }
        }
        .side-bartop__menu__edit{
          a{
            color: white;
          }
        }
      }
    }
  }

  .side-bar-under{
    height: calc(100vh - 100px);
    padding:20px 20px 40px 20px;
    background-color: #2F3E50;

    .side-bar-under__group{
      padding:0px 0px 5px 0px;
      font-size: 15px;    
    }
    .side-bar-under__messeage{
      font-size: 11px;

    }

  }



}